body {
  background: #111;
}

table {
  border-spacing: 0;
}

td {
  background-image: url('img/empty.png');
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 0;
  padding: 0;
}

td img {
  position: absolute;
  top: 0;
  left: 0;
}

.cell-move {
  opacity: 0.5;
}

.cell-move:hover {
  opacity: 1;
}

#ui-left {
  float: left;
  background: #fff;
  width: 200px;
  height: 416px;
  padding: 0 5px;
}

#debug {
  float: right;
  background: #fff;
  width: 200px;
  height: 416px;
}