@font-face {
  font-family: "Press Start";
  src: url("font/prstartk.ttf");
}

body, div, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #16131c;
  font-family: "Press Start", sans-serif;
}

table {
  border-spacing: 0;
}

td {
  background-image: url('img/empty.png');
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 0;
  padding: 0;
}

td img {
  position: absolute;
  top: 0;
  left: 0;
}

.cell-move {
  opacity: 0.5;
}

.cell-move:hover {
  opacity: 1;
}

#game {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#ui {
  background: #418EB0;
  padding: 10px;
  margin: 10px;
  width: 250px;
  height: 440px;
  border-radius: 5px;
}

#ui-players {
  border-bottom: 1px solid black;
  padding: 5px;
}

#ui-info {
  padding: 10px 5px;
}